body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.btnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  background-color: blueviolet;
  border-radius: 8px;
  cursor: pointer;
}

.centerLine {
  position: relative;
  background-color: #fff;
  width: 80%;
  height: 2px;
  --arrow: 25px;
}
.centerLine::before,
.centerLine::after {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: .1s;
}

.centerLine::after {
  content: "";
  display: block;
  top: -12px;
  width: 100%;
}

.centerLine::before {
  content: "";
  display: block;
  top: 10px;
  width: 100%;
}

/* 动画 */
.btnWrapper:hover .centerLine::after {
  width: var(--arrow);

  /* 等腰三角形 -> 67.5 -> tan67.5 = Math.tan(67.5 * Math.PI / 180) = 2.41
  *  x + x * tan67.5 = 30 / 2
  *  y = x * tan67.5
  *
  * 15 / 3.41 = 4.4
  * 4.4 * 2.41 = 10.6
  *
  * 少1px做拼接
  */
  transform: translate(calc(0px - var(--arrow) / 2 / 3.4), calc(10px + (var(--arrow) / 2 - 1px) / 3.4 * 2.4)) rotate(45deg);
}

.btnWrapper:hover .centerLine::before {
  width: var(--arrow);
  transform: translate(calc(0px - var(--arrow) / 2 / 3.4), calc(-10px - (var(--arrow) / 2 - 1px) / 3.4 * 2.4))  rotate(-45deg) ;
}