* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(34, 34, 34);
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1000px;
  height: 700px;
}
.item {
  width: 18px;
  height: 18px;
  margin: 1px;
  background-color: rgb(63, 63, 63);
  transition: 2s;
}
.item:hover {
  transition: 0s;
  background-color: rgb(0, 255, 0);
  box-shadow: 0 0 5px rgb(0, 255, 0);
}