* {
    padding: 0;
    margin: 0;
}
.page {
    position: relative;
    background-color: rgb(204, 224, 255);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.login-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 25rem;
    width: 20rem;
    background-color: rgba(162, 199, 255, 0.6);
    box-shadow: 0 0 5px 1px rgba(16, 45, 89, 0.3);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}
.title {
    margin-top: 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(68, 94, 122, 0.4);
}
.account, .pwd  {
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0 2rem;
    margin-top: 3rem;
    box-sizing: border-box;
}
.account>input, .pwd>input {
    background-color: rgba(192, 214, 248, 0.6);
    border: 1px solid rgb(146, 151, 225);
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    width: calc(100% - 2px);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.account>input:focus, .pwd>input:focus {
    outline: none;
    background-color: rgba(168, 188, 248, 0.6)
}

.submit {
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.submit-btn {
    width: calc(100% - 4rem);
    height: 2.3rem;
    font-size: 1.5rem;
    background-color: rgba(150, 157, 249, 0.3);
    border: 2px solid rgba(188, 201, 255, 0.8);
    color: #ffffffee;
    border-radius: 5px;
    box-sizing: content-box;
}
.submit-btn:hover {
    background-color: rgba(139, 162, 255, 0.7);
    box-shadow: 0 0 3px 3px rgba(117, 143, 255, 0.3);
}
.submit-btn:active {
    background-color: rgba(63, 101, 252, 0.5);
    border: 3px solid rgba(188, 201, 255);
    box-shadow: 0 0 3px 3px rgba(117, 143, 255, 0.3);
}

/* keyframs */
/* .shadow-bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgb(131, 180, 255);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}
span.in {
    animation: in .4s ease-in forwards;
}
span.out {
    animation: out .4s ease-in forwards;
}

@keyframes in {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 300%;
        height: 300%;
    } 
}
@keyframes out {
    0% {
        width: 300%;
        height: 300%;
    }
    100% {
        width: 0;
        height: 0;
    } 
} */

/* transition */
.shadow-bgc {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgb(131, 180, 255);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.4s 0s ease-in;
}
span.in {
    width: 300%;
    height: 300%;
}
span.out {
    width: 0;
    height: 0;
}