body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(233, 158, 88);
}
.joke-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: 45rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 5px rgb(201, 201, 201);
  background-color: #fff;
  overflow: hidden;
}
.joke-trans {
  padding: 1rem;
}
.joke-trans::before {
  content: "译：";
  font-size: 1.5rem;
  color:rgb(68, 153, 222);
  font-weight: 800;
}
.title, .btn-wrapper {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  height: 2.5rem;
  /* color: #fff; */
}
.title {
  color: rgb(197, 197, 197);
  margin-bottom: 2rem;
}
.joke {
  flex: 1;
  padding: 1rem;
  min-height: 5rem;
  box-sizing: border-box;
  font-size: 2rem;
}
.btn-wrapper {
  display: grid;
  place-items: center;
  margin-top: 2rem;
  height: 3.5rem;
}
.button {
  color: #fff;
  width: 7rem;
  height: 2.5rem;
  background-color: rgb(68, 153, 222);
  border: none;
  border-radius: 3px;
}
.button:hover {
  background-color: rgba(40, 139, 219, 0.8);
}
.button:active {
  transform: scale(0.95);
}