body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(0, 16, 39);
}

.wrapper {
    position: relative;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 2px solid rgb(198, 212, 239);
    border-radius: 10px;
    background-color: rgb(149, 169, 240);
}

.wrapper:hover {
    transform: scale(1.01);
    box-shadow: 0 0 30px rgb(151, 197, 237);
    transition: .4s;
}

.wrapper:hover::after,
.wrapper:hover::before {
    animation-duration: 1s;
}

.wrapper::after,
.wrapper::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(93, 116, 174);
    box-shadow: inset 0 0 2px rgba(107, 236, 176, 0.9);
    border-radius: 10px;
    inset: -10px;
    animation: clippath 3s infinite linear;
}

.wrapper::before {
    animation-delay: -1.5s;
}

@keyframes clippath {

    0%,
    100% {
        clip-path: inset(0 0 96% 0);
        border-color: rgb(152, 117, 234);
        box-shadow: inset 0 0 4px rgba(152, 117, 234, 0.9);
    }

    25% {
        clip-path: inset(0 96% 0 0);
        border-color: rgb(159, 248, 144);
        box-shadow: inset 0 0 4px rgba(159, 248, 144, 0.9);
    }

    50% {
        clip-path: inset(96% 0 0 0);
        border-color: rgb(215, 248, 144);
        box-shadow: inset 0 0 4px rgba(215, 248, 144, 0.9);
    }

    75% {
        clip-path: inset(0 0 0 96%);
        border-color: rgb(248, 161, 144);
        box-shadow: inset 0 0 4px rgba(248, 161, 144, 0.9);
    }
}