:root {
    --light-bgc: #fff;
    --light-color: black;
    --light-gray: rgba(81, 81, 255, 0.3);
    --dark-gray: rgba(192, 207, 227, 0.3);
    --dark-bgc: black;
    --dark-color: #fff;
}
body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    transition: all .8s 0s ease;
}
.wrapper {
    position: relative;
    display: flex;
    text-align: center;
    line-height: 2.5rem;
    width: 150px;
    font-size: 1.2rem;
    height: 2.5rem;
    padding: 0px 10px;
    border-radius: 8px;
    background-color: var(--light-bgc);
    color: var(--light-color);
    -webkit-font-smoothing: antialiased;
    box-shadow: -5px -5px 5px rgb(228, 228, 228), 5px 5px 5px rgb(137, 137, 137);
    box-sizing: border-box;
    transition: all .8s 0s ease-in-out;
}
.wrapper .label {
    flex: 1;
    height: 80%;
    cursor: pointer;
}
.active {
    position: absolute;
    left: 12px;
    right: auto;
    top: 10%;
    width: 40%;
    height: 80%;
    border-radius: 8px;
    background-color: var(--light-gray);
    transition: all .8s 0s ease-in-out;
    box-shadow: inset 8px 8px 6px rgb(246, 252, 255),
                inset -5px -5px 15px rgb(229, 240, 252);
}
.wrapper:active {
    transform: translate3d(0, 10px, 3px);
}
.active.close {
    left: calc(60% - 12px);
    /* right: 10px; */
    background-color: var(--light-gray);
}
.wrapper.close, body.close {
    background-color: var(--dark-bgc);
    color: var(--dark-color);
}