* {
    padding: 0;
    margin: 0;
}
.window-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, blue 0%, #fff 100%);
    border-radius: 2rem;
    border: 1px solid #333;
    box-sizing: border-box;
    overflow: hidden;
}
.small {
    right: 10px;
    top: 60px;
    width: 30vh;
    height: 30vh;
}
.small img {
    position: absolute;
    width: 200% !important;
    height: 200% !important;
    top: -20%;
    z-index: 0;
}
.small .hidden {
    height: 1rem;
}
.small img {
    position: absolute;
    width: 200% !important;
    height: 200% !important;
    top: -20%;
    z-index: 0;
}
.window-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2rem rgb(255, 255, 255) solid;
    border-top: 0;
    border-bottom: 0;
    transition: all 1s 0s ease;
    border-radius: 2rem;
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
}
.window-inner {
    position: relative;
    background-color: #fff;
    height: calc(99vh - 2rem);
    border: 1px solid rgb(175, 175, 175);
    box-sizing: border-box;

}
.controller {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 3rem;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    bottom: 0;
    background-color: rgb(238, 238, 238);
    z-index: 100;
}
.controller:hover {
    cursor: -webkit-zoom-in;
}
.hidden {
    height: calc(60px + 2rem);
}
.window-content {
    width: 100vw;
    height: 100vh;
    border-radius: 10%;
    overflow: hidden;
}
.window-content img {
    width: 100%;
    height: 100%;
}